<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moe Chat</title>
  </head>
  <body>
    <div id="banner">
      <center>
        <h1>Moe Chat</h1>
      </center>
    </div>
    <div id="globalmsgs">
      {{range .msgList}}
      <div class="msg">
        <font color="{{.Color}}"><b>{{.Time}}{{.User}}:</b></font> {{.Msg}}
      </div>
      {{end}}
    </div>
    <div id="chatbox" style="font-size: medium">
      <form action="/u/chat" method="post" onsubmit="lol()">
        <font color="{{.color}}"><b>{{.user}}:</b></font>
        <input
          id="userbox"
          type="text"
          name="usermessage"
          placeholder="Type Here..."
          autofocus
        />
        <input id="submit" type="submit" value="Go" />
      </form>
    </div>
  </body>
  <script type="text/javascript" src="main.ts"></script>
</html>
