<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/chat.css" />
    <title>Chat</title>
  </head>

  <body>
    <div>
      <center>
        <h1 class="text-3xl font-bold p-4">Global Moe Chat!</h1>
      </center>
    </div>

    <div id="globalmsgs" class="p-4">
      {{range .msgList}}
      <div class="msg">
        <font color="{{.Color}}"
          ><b class="font-bold">{{.Time}}{{.User}}:</b></font
        >
        {{.Msg}}
      </div>
      {{end}}
    </div>

    <div id="chatbox" style="font-size: medium">
      <form action="/u/chat" method="post" onsubmit="lol()" class="m-2">
        <font color="{{.color}}"><b>{{.user}}:</b></font>
        <input
          id="userbox"
          type="text"
          name="usermessage"
          placeholder="Type Here..."
          autofocus
          class="p-2 rounded-md"
        />
        <input
          id="submit"
          type="submit"
          value="Send!"
          class="bg-white text-black p-2 rounded-md m-2"
        />
      </form>
    </div>
  </body>
  <script type="text/typescript" src="../src/script.ts"></script>
</html>
